celery==5.3.6
django==5.0.4
django-celery-beat==2.6.0
django-celery-results==2.5.1
django-redis==5.4.0
djangorestframework==3.15.1
python-dotenv==1.0.1
psycopg2-binary==2.9.9
SpeechRecognition==3.10.3
nltk==3.8.1
ffmpeg-downloader==0.3.0
pytube==15.0.0
librosa==0.10.1
pymorphy3==2.0.1
translate==3.6.1
googletrans==4.0.0rc1
gTTS==2.5.1
langdetect==1.0.9